name: Monitor Proxy Token

on:
  schedule:
    - cron: '*/20 * * * *'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    
    services:
      nordvpn:
        image: edgd1er/nordvpn-proxy:latest
        ports:
          - 1080:1080
        env:
          # Usamos el TOKEN que generaste (asegúrate de que el secret se llame NORDVPN_TOKEN)
          NORDVPN_TOKEN: ${{ secrets.NORDVPN_TOKEN }}
          NORDVPN_COUNTRY: MX
          NORDVPN_PROTOCOL: UDP
          NORDVPN_TECHNOLOGY: NordLynx
          # Importante: Indicamos que queremos el proxy HTTP y SOCKS activados
          DNS: "1.1.1.1,8.8.8.8"
        options: --cap-add NET_ADMIN --device /dev/net/tun

    steps:
      - name: Checkout código
        uses: actions/checkout@v3

      - name: Esperar a que la VPN conecte
        run: |
          echo "Dando tiempo al contenedor para arrancar..."
          sleep 45 # Damos 45 segundos para asegurar que el proxy esté listo

      - name: Configurar Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Instalar librerías
        run: pip install requests "requests[socks]" pysocks

      - name: Ejecutar script
        env:
          EMAIL_USER: ${{ secrets.EMAIL_USER }}
          EMAIL_PASS: ${{ secrets.EMAIL_PASS }}
          EMAIL_DESTINO: ${{ secrets.EMAIL_DESTINO }}
        run: python monitor_citas.py
