name: Monitor Proxy OpenVPN

on:
  schedule:
    - cron: '*/20 * * * *'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    
    services:
      nordvpn:
        image: edgd1er/nordvpn-proxy:latest
        ports:
          - 1080:1080
        env:
          # Usamos tu Token
          NORDVPN_TOKEN: ${{ secrets.NORDVPN_TOKEN }}
          NORDVPN_COUNTRY: MX
          # CAMBIO CLAVE: Usamos OpenVPN en lugar de NordLynx
          NORDVPN_TECHNOLOGY: OpenVPN
          NORDVPN_PROTOCOL: UDP
        options: --cap-add NET_ADMIN --device /dev/net/tun

    steps:
      - name: Checkout código
        uses: actions/checkout@v3

      - name: Esperar a que la VPN conecte
        run: |
          echo "Esperando 60 segundos a que OpenVPN arranque..."
          sleep 60

      - name: Configurar Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Instalar librerías
        run: pip install requests "requests[socks]" pysocks

      - name: Ejecutar script
        env:
          EMAIL_USER: ${{ secrets.EMAIL_USER }}
          EMAIL_PASS: ${{ secrets.EMAIL_PASS }}
          EMAIL_DESTINO: ${{ secrets.EMAIL_DESTINO }}
        run: python monitor_citas.py
