name: Monitor NordVPN

on:
  schedule:
    # Se ejecuta cada 20 minutos
    - cron: '*/20 * * * *'
  # Permite ejecutarlo manualmente desde la pestaña Actions
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout código
        uses: actions/checkout@v3

      - name: Configurar Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Instalar librerías
        # Instalamos requests con soporte para SOCKS (Proxies)
        run: pip install requests "requests[socks]" pysocks

      - name: Ejecutar script
        env:
          # Variables de Correo
          EMAIL_USER: ${{ secrets.EMAIL_USER }}
          EMAIL_PASS: ${{ secrets.EMAIL_PASS }}
          EMAIL_DESTINO: ${{ secrets.EMAIL_DESTINO }}
          # Variables de NordVPN (Proxy)
          PROXY_HOST: ${{ secrets.PROXY_HOST }}
          PROXY_USER: ${{ secrets.PROXY_USER }}
          PROXY_PASS: ${{ secrets.PROXY_PASS }}
        run: python monitor_citas.py
